@use "../base";

#main-work {
    #projects {
        // background-color: base.$neutral-very-light;
        background-color: transparent;
        padding-top: 0;
    }

    h2 {
        @include base.fixed-width();
    }

    // Medium >= 768px
    @media screen and (min-width: 768px) {
        section>.row>.column {
            flex-basis: 100%;
        }

        .project-summary-card {
            @include base.card-horizontal();

            .project-summary-card__body {
                padding-right: .5em;

                p {
                    max-width: 100%;
                }

                .summary-card__footer {
                    align-items: flex-end;
                }
            }

            .project-summary-card__link {
                transition: base.$transition-short;
                text-decoration: underline;
                color: base.$primary-link;
                background-color: transparent;
                padding: 0;
            }
        }
    }

    // Large >= 1100px
    @media screen and (min-width: 1100px) {
        section>.row>.column {
            @include base.columns-three();
            flex-wrap: wrap;
            flex: 0 1 33%;
        }

        .project-summary-card {
            flex-flow: column nowrap;
            padding: .25em .75em;

            .project-summary-card__image {
                width: 100%;
            }

            .project-summary-card__body {
                padding: 0;
                padding-bottom: 1em;
                &>* {
                    flex-basis: 100%;
                }
            }
        }
    }
}